* {
    box-sizing: border-box;

    padding: 0;
    border: 0;
    margin: 0;

    background-color: transparent;
}

body, textarea::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #fafafa;
}

button, ion-icon {
    cursor: pointer;
}

.display-none {
    display: none !important; 
}

header {
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 37px;
    font-weight: bold;

    color: #fff;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
    padding-top: 37px;
}

.your-quizzes {
    width: 340px;
    height: 181px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 0 45px;
    border: 1.5px dashed #D5D5D5;
    margin: 0 auto;

    border-radius: 5px;
}

.your-quizzes span {
    font-size: 20px;

    text-align: center;

    color: #B9B9B9;
}

.your-quizzes button {
    width: 151px;
    height: 40px;

    font-size: 21px;

    border: 1px dashed #EC362D;

    border-radius: 50px;
    cursor: pointer;

    color: #EC362D;
}

.quizz-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

.quizz-creation h2 {
    font-size: 20px;
}

.quizz-creation div {
    width: 100%;

    text-align: center;
}

.quizz-creation div span {
    font-size: 20px;
    font-style: italic;
    color: #EC362D;
}

.quizz-creation form, .quizz-creation form div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    padding: 7px 0;
}

.quizz-creation form {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-creation header, h3 {
    all: unset;

    width: 341px;

    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: bold;
}

.quizz-creation header {
    margin: 10px 0;
}

.quizz-creation header ion-icon {
    font-size: 26px;
}

.quizz-creation form input, .quizz-creation form textarea {
    width: 341px;
    height: 46px;

    border: 1px solid #D1D1D1;

    text-indent: 14px;
    font-size: 19px;

    padding: 10px;

    border-radius: 5px;
}

.quizz-creation form input::placeholder, .quizz-creation form textarea::placeholder {
    font-style: italic;
    
    color: #bababa;
}

.quizz-creation form #levelDescription {
    height: 177px;

    resize: none;
}

.quizz-creation button {
    width: 324px;
    height: 54px;

    font-size: 18px;

    border-radius: 15px;
    color: #FFF5F4;
    background-color: #EC362D;
}

.quizz-creation .container-questions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    padding: 35px 0 14px 18px;

    font-size: 20px;
    line-height: 23px;
    
    font-weight: 700;

    color: #000000;
}

.all-quizzes {
    width: 340px;
    margin: 0 auto;

}

.all-quizzes-list {
    list-style-type: none;
    
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    gap: 14px;


}

.quizz {
    height: 181px;
    border-radius: 5px;
    
    position: relative;
}

.quizz span {
    padding: 0 17px;

    font-size: 19px;
    font-weight: 400;
    line-height: 22px;

    color: #ffffff;

    position: absolute;
    bottom: 7px;
    left: 0px;
    z-index: 2;

    word-break: normal;
}

.quizz img, .quizz-creation img {
    width: 340px;
    height: 181px;
    object-fit: cover;
    border-radius: 5px;

}

.sombra-quizz {
    width: 100%;
    height: 181px;
    border-radius: 5px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.quizz-clicado {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.thumbnaill-quizz-clicado {
    width: 100%;
    height: 142px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.thumbnaill-quizz-clicado img {
    width: 100%;
    height: 142px;
    object-fit: cover;
}

.sombra-thumb {
    width: 100%;
    height: 142px;

    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} 

.thumbnaill-quizz-clicado span {
    padding: 0 16px;

    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    
    color: #ffffff;

    position: absolute;
    z-index: 2;

    word-break: normal;
}

.pergunta {
    width: 100%;
    padding: 18px;

    background-color: #ffffff;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titulo-pergunta {
    height: 89px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: none;
}

.titulo-pergunta span {
    padding: 0 16px;

    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;


    color: #ffffff;

    word-break: normal;
}

.respostas {

    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.resposta {
    width: 163px;
    height: fit-content;
    min-height: 138px;

    text-align: left; 

    position: relative;
}

.resposta img {
    width: 100%;
    height: 113px;

    object-fit: cover;
}

.resposta span {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    
    color: #000000;

    word-break: normal;
}

.go-home {
    font-size: 18px;
    color: #818181;
}

.go-home:hover {
    cursor: pointer;
}

/* continua */
.sombra-resposta {
    width: 100%;
    height: 113px;

    background-color: rgba(255, 255, 255, 0.7);

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}